@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-style: normal; 
    font-weight: 400; 
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-style: normal; 
    font-weight: 700; 
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
  }
  
  
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
  }

  body {
      font-family: "PT Sans";
      font-size: 20px;
      line-height: 21px;
      color: #000000;
  }

  .header-nav {
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
  }

  .header-item-picked {
      border-bottom: 2px solid #756257;
  }

  .btn-want-here {
      width: 160px;
      height: 37px;
      background: #756257;
      border-radius: 4px;
      text-decoration: none;
      color: white;
      text-align: center;
      text-transform: uppercase;
  }

  .header-nav-list {
      list-style: none;
  }

  .header-nav-list a {
      color: #000000;
      text-decoration: none;
  }

  .title {
    font-size: 60px;
    line-height: 78px;
  }

  .title-second {
    font-size: 30px;
    line-height: 36px;
  }

  .title-third {
      font-size: 24px;
      line-height: 28px;
  }

  .title-fourth {
      font-size: 24px;
      line-height: 28px;
  }

.sedona-preview {
    background-image: url(../images/index-background.jpg);
    background-repeat: no-repeat;
    background-size: 1200px 485px;
}

.reasons-list {
    list-style: none;
}

.true-city-benefits-list{
    list-style: none;
}

.hotel-search p {
    font-size: 22px;
    line-height: 26px;
}

.hotel-search a {
    background-color: #756257;
    border-radius: 10px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.mailing {
    color: white;
}

.mailing h2 {
    text-transform: uppercase;
}

.mailing p {
    font-size: 22px;
    line-height: 26px;
}

.mailing-button {
    background: #83B3D3;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;  
    border-radius: 0px 10px 10px 0px;
}

.mailing-input {
    background: #F2F2F2;
    border-radius: 0px 10px 10px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.reasons-better p {
    font-size: 18px;
    line-height: 21px;
}

.title-second-container {
    width: 1200px;
    height: 282px;
    left: 40px;
    top: 550px;
    text-align: center;
}

.title-second-container h2 {
    position: absolute;
    width: 720px;
    height: 80px;
    left: 280px;
    top: 613px;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 36px;
}

.title-second-container p {
    position: absolute;
    width: 720px;
    height: 37px;
    left: 280px;
    top: 716px;
}

.true-city-container {
    width: 1200px;
    height: 384px;
    left: 40px;
    top: 832px;
}

.true-city-text {
    text-align: center;
    color:#FFFFFF;
    position: absolute;
    width: 400px;
    height: 384px;
    left: 40px;
    top: 832px;
    background-color: #83B3D3;
}

.true-city-text h3 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
}

.true-city-text p {
    font-size: 18px;
    line-height: 21px;
}

.true-city-image {
    position: absolute;
    width: 800px;
    height: 384px;
    left: 440px;
    top: 832px;
}

.mailing {
    background-image: url(../images/background-mailing.jpg);
}

.catalog-sort {
    background-image: url(../images/catalog-background.jpg);

}

.catalog-sort {
    color: #FFFFFF;
}

.bread-crumbs-list {
    list-style: none;
    font-size: 16px;
    line-height: 21px;
}

.form-sort fieldset {
    border: none;
}

.catalog-menu-finded {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}

.catalog-hotel-view-item h3 {
    font-size: 24px;
    line-height: 31px;
}

.catalog-hotel-view-item p {
    font-size: 18px;
    line-height: 23px;
}

.catalog-sort-menu-type-item {
    width: 48px;
    height: 48px;
    left: 1120px;
    top: 517px;
    text-align: center;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
}

.sort-menu-item-picked {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

.form-sort legend {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.catalog-sort-checkbox-item label {
    font-size: 18px;
    line-height: 23px;
}

.catalog-sort-checkbox-list {
    list-style: none;
}

.catalog-sort-checkbox-list {
    list-style: none;
}

.catalog-sort-menu-type-list {
    list-style: none;
}

.catalog-hotel-view-list {
    list-style: none;
}

.catalog-pages-list {
    list-style: none;
}

.catalog-hotel-view-item a {
    text-decoration: none;
    color: white;
}

.more {
    text-transform: uppercase;
    background: #756257;
    border-radius: 4px;
}

.btn-favourite-hotel {
    text-transform: uppercase;
    background: #83B3D3;
    border-radius: 4px;
}

.btn-picked {
    text-transform: uppercase;
    background: #7DB54F;
    border-radius: 4px;
}

.rating-number {
    font-size: 16px;
    line-height: 21px;   
}

.catalog-pages-buttons {
    color: #FFFFFF;
    text-decoration: none;
    background: #83B3D3;
    border-radius: 4px; 
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
}

.hotels-on-page {
    font-size: 18px;
    line-height: 23px;
}

.mailing-paragraph {
    font-size: 22px;
    line-height: 26px;
}

.footer-social-list {
    list-style: none;
}

.footer-phone {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}