@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
    /* Позиционирование */
    /* Блочная модель */
    /* Типографика */
    font-family: "PT Sans";
    color: #000000;
    font-size: 20px;
    line-height: 21px;
    /* Оформление */
}

.header-nav {
    /* Позиционирование */
    /* Блочная модель */
    /* Типографика */
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* Оформление */
}

.header-item-picked {
    border-bottom: 2px solid #756257;
}

.btn-want-here {
    /* Позиционирование */
    /* Блочная модель */
    width: 160px;
    height: 37px;
    /* Типографика */
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    /* Оформление */
    background-color: #756257;
    border-radius: 4px;
}

.header-nav-list {
    list-style: none;
}

.header-nav-list a {
    color: #000000;
    text-decoration: none;
}

.title {
    font-size: 60px;
    line-height: 78px;
}

.title-second {
    font-size: 30px;
    line-height: 36px;
}

.title-third {
    font-size: 24px;
    line-height: 28px;
}

.title-fourth {
    font-size: 24px;
    line-height: 28px;
}

.sedona-preview {
    background-image: url(../images/welcome-background.jpg);
    background-repeat: no-repeat;
    background-size: 1200px 485px;
}

.reasons-list {
    list-style: none;
}

.true-city-benefits-list {
    list-style: none;
}

.hotel-search p {
    font-size: 22px;
    line-height: 26px;
}

.hotel-search a {
    /* Позиционирование */
    /* Блочная модель */
    /* Типографика */
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    /* Оформление */
    background-color: #756257;
    border-radius: 10px;
}

.mailing {
    color: #FFFFFF;
    background-image: url(../images/mailing-background.jpg);
}

.mailing h2 {
    text-transform: uppercase;
}

.mailing p {
    font-size: 22px;
    line-height: 26px;
}

.mailing-button {
    /* Позиционирование */
    /* Блочная модель */
    /* Типографика */
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    /* Оформление */
    background-color: #83B3D3;
    border-radius: 0px 10px 10px 0px;
}

.mailing-input {
    background-color: #F2F2F2;
    border-radius: 0px 10px 10px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.reasons-better p {
    font-size: 18px;
    line-height: 21px;
}

.title-second-container {
    /* Позиционирование */
    left: 40px;
    top: 550px;
    /* Блочная модель */
    width: 1200px;
    height: 282px;
    /* Типографика */
    text-align: center;
    /* Оформление */
}

.title-second-container h2 {
    /* Позиционирование */
    left: 280px;
    top: 613px;
    /* Блочная модель */
    width: 720px;
    height: 80px;
    /* Типографика */
    font-size: 30px;
    text-transform: uppercase;
    line-height: 36px;
    /* Оформление */
}

.title-second-container p {
    /* Позиционирование */
    left: 280px;
    top: 716px;
    /* Блочная модель */
    width: 720px;
    height: 37px;
    /* Типографика */
    /* Оформление */
}

.true-city-container {
    /* Позиционирование */
    left: 40px;
    top: 832px;
    /* Блочная модель */
    width: 1200px;
    height: 384px;
    /* Типографика */
    /* Оформление */
    background-image: url(../images/benefits-true-city.jpg);
    background-repeat: no-repeat;
}

.true-city-text {
    /* Позиционирование */
    left: 40px;
    top: 832px;
    /* Блочная модель */
    width: 400px;
    height: 384px;
    /* Типографика */
    text-align: center;
    color: #FFFFFF;
    /* Оформление */
    background-color: #83B3D3;
}

.true-city-text h3 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
}

.true-city-text p {
    font-size: 18px;
    line-height: 21px;
}

.true-city-image {
    left: 440px;
    top: 832px;
    width: 800px;
    height: 384px;
}

.catalog-sort {
    color: #FFFFFF;
    background-image: url(../images/catalog-background.jpg);
}

.bread-crumbs-list {
    list-style: none;
    font-size: 16px;
    line-height: 21px;
}

.form-sort fieldset {
    border: none;
}

.catalog-menu-finded {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}

.catalog-hotel-view-item h3 {
    font-size: 24px;
    line-height: 31px;
}

.catalog-hotel-view-item p {
    font-size: 18px;
    line-height: 23px;
}

.catalog-sort-menu-type-item {
    left: 1120px;
    top: 517px;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
}

.sort-menu-item-picked {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

.form-sort legend {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.catalog-sort-checkbox-item label {
    font-size: 18px;
    line-height: 23px;
}

.catalog-sort-checkbox-list {
    list-style: none;
}

.catalog-sort-checkbox-list {
    list-style: none;
}

.catalog-sort-menu-type-list {
    list-style: none;
}

.catalog-hotel-view-list {
    list-style: none;
}

.catalog-pages-list {
    list-style: none;
}

.catalog-hotel-view-item a {
    text-decoration: none;
    color: #FFFFFF;
}

.more {
    text-transform: uppercase;
    background-color: #756257;
    border-radius: 4px;
}

.btn-favourite-hotel {
    text-transform: uppercase;
    background-color: #83B3D3;
    border-radius: 4px;
}

.btn-picked {
    text-transform: uppercase;
    background-color: #7DB54F;
    border-radius: 4px;
}

.rating-number {
    font-size: 16px;
    line-height: 21px;
}

.catalog-pages-buttons {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #83B3D3;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
}

.hotels-on-page {
    font-size: 18px;
    line-height: 23px;
}

.mailing-paragraph {
    font-size: 22px;
    line-height: 26px;
}

.footer-social-list {
    list-style: none;
}

.devil-bridge-section {
    width: 1200px;
    background-image: url(../images/benefits-devil-bridge.jpg);
    background-repeat: no-repeat;
}

.devil-bridge-img {
    left: 40px;
    width: 800px;
    height: 384px;
}

.devil-bridge-paragraph {
    text-align: center;
    width: 400px;
    height: 384px;
    background-color: #83B3D3;
    color: #FFFFFF;
}

.devil-bridge-paragraph h3 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
}

.devil-bridge-paragraph p {
    font-size: 18px;
    line-height: 21px;
}

.footer-phone {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.search-icon {
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
}

.favourite-icon {
    background-image: url(../images/favourite.svg);
    background-repeat: no-repeat;
}

.title-housing {
    font-size: 24px;
    line-height: 28px;
}

.housing-container {
    background-image: url(../images/home.svg);
}